<!--Welcom Section-->
<section class="welcome_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 pt-5">
        <h3 class="pt-5">Welcome To Timeflow</h3>
        <p>Timeflow is a powerful platform for processing streams of complex business events. By identifying negative and positive situations, you will be able to improve customer experience and optimise your internal business processes.</p>

        <p>Using this interface, you will be able to define your data streams, define your stream processors, and manage the deployment and execution of them</p>

        <p>For more details, please visit the <a href="#">help section</a>.</p>
        <%= link_to 'Create Your First Project', new_project_path, class: "project_btn mt-4" %>
      </div>
      <div class="col-md-6 col-xs-12">
        <%= image_tag("54.png") %>
      </div>
    </div>
  </div> 
</section>
<!--Welcome Section-->