<!--Event Stream--> 
<section class="event_stream">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="/" class="back_btn"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</a>
        <div class="event_stream_inner text-center">
          <%= image_tag('68.png') %>
          <h3>Event Streams</h3>
          <p>No Event streams available.</p>
          <button class="project_btn mt-3">Add Event Stream</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Event Stream-->